@import "../Colors";

.btn {
  padding: 0.3em 2em 0.3em 2em;
  align-items: center;
  margin-left: 2em;
  border-radius: 25px;
  background-color: $primary;
  height: 3em;
  color: white;
  cursor: pointer;
  border: 1px solid;

  &:hover {
    background-color: lighten($primary, 7%);
  }

  &:active {
    background-color: lighten($primary, 14%);
  }

  &--disabled {
    color: $tertiary;
    cursor: not-allowed;
  }

  & > span {
    text-align: center;
  }
}
