@import "../Colors";

html * {
  font-size: 2rem;
  line-height: 17px;
}

.search-container {
  display: flex;
  padding: 30px 15px 30px 15px;
}

.search-container__header {
  display: flex;
  width: 100%;

}