$light: lightgray;
$white: #ffffff;
$dark: #333;

$success: #4bb678;
$warning: #efa843;
$error: #f4574c;

$primary: #452CDC;
$secondary: #697179;
$tertiary: #8e949a;

// Backgrounds:
$bg-light: #F6F6F6;

// Inputs:
$input-hover: #a5a5a5;
$input-background: #F3F3F3;
$input-focus: #668de1;
$input-outline: #668de1;

